<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="Pkcs11LibraryPath" value="C:\Windows\system32\cvP11.dll"/>
		<add key="TokenSerial" value="02102066d2092c43"/>
		<add key="KeyIdString" value="041467a16090ec42590f7e3913bd3efb54f006af36e0"/>
		<!-- 
		<add key="Pkcs11LibraryPath" value="c:\SoftHSM2\lib\softhsm2.dll"/> 
		<add key="TokenSerial" value="47124951b6c9f89a"/>
		<add key="KeyIdString" value="27 CC 11 11 9B E8 CE D7 5F 4C 5E AB 84 AA 9F 1E 01 B7 D7 41"/>
		-->
	</appSettings>
</configuration>
